<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets
  ============================================= -->
  <!--Import Google Icon Font-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" />
    <link rel="stylesheet" href="/css/image-picker.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery.toast.min.css" type="text/css" />


  <!-- External JavaScripts
  ============================================= -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="//cdn.jsdelivr.net/sortable/latest/Sortable.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="/js/jquery.toast.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!-- <script src="/js/jquery-linedtextarea.js"></script>
  <script src="/js/interact.min.js"></script>
  <script src="/js/slip.js"></script> -->
  <script src="/js/image-picker.min.js"></script>

  <!-- Document Title
  ============================================= -->
  <title>Choose 2 from the list...</title>
  <script>
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
  </script>
</head>
