<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>



<body>
    <div class="description z-depth-2">  <p id="text">We know there are heaps of different sugars and sweeteners on the market right now so first we would like to know which ones you’ve heard of. Please tap on all the products that you are aware of:</p></div>

    <div class="content">
      <form id="sugarList" method="post" action="/list">
        <input id="facebook_id" type="hidden" name='fb_id'>

        <% for(var i=0; i<list.length; i++) {%>
          <div class="sugarbutton">
            <label>
              <input type="checkbox" name='<%= list[i] %>'><span><%= list[i] %></span>
            </label>
          </div>
        <% } %>

        <div id="submit" class="fixed-action-btn">
          <a class="btn-floating btn-large blue">
            <i class="material-icons">send</i>
           </a>
       </div>
      </form>
    </div>

<script>
window.extAsyncInit = function() {
  var check = MessengerExtensions.isInExtension();
  console.log(check)
  if (check === false) {
    $("#facebook_id").val(<%= id %>)
  } else {
    MessengerExtensions.getUserID(function success(uids) {
         var psid = uids.psid.toString();
         $("#facebook_id").val(psid)
       }, function error(err) {

       });
  }

};

$('#submit').click(function (evt) {
    $('form').submit();

    evt.preventDefault();
    MessengerExtensions.requestCloseBrowser(function success() {

      }, function error(err) {

      });
      setTimeout(function() {
            window.close();
      }, 1000);
});

</script>

<script src="/js/materialize.js"></script>
</body>
