<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>

<style>
/*this is the style of an radio "button"*/
.input-check {
    display: inline-block;
    padding:5px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 14px;
    border-color:  #0084ff;
    color: #0084ff;
    text-align: center;
    margin: 20px;
}
/* This is the style for a radio "button" */
.input-check.checked{
  background-color: #0084ff;
  color:white;
}
/*Hide the radiobutton*/
.input-check input {
    display:none;
}

</style>

<body>
    <div class="description z-depth-2">  <p id="text">Please choose to agree or disagree with the following statements.</p></div>
    <div class="content">
      <label class="input-check">
        <input onchange="change_state(this)" type="radio" value="1"   name="review[rating]" /> I’m someone who enjoys giving things a go, both in my personal and professional life. What’s life if you can’t handle some spice? I am young, be it in age or in spirit. I would consider myself very social, I keep up with the latest trends, buy the newest technology offerings, and appreciate nice things. That being said, I’m extremely inventive and forward thinking, I have strong views but do appreciate collaboration.
      </label>
      <label class="input-check">
        <input onchange="change_state(this)" type="radio" value="2"   name="review[rating]" /> I’m a less extreme version of the person described above. While still young, well-educated and very social, I would say that I really embody ‘opinion leadership.’ I am very specific and conscious about the types of innovations / technology advancements I want to pursue and invest in.
      </label>
      <label class="input-check">
        <input onchange="change_state(this)" type="radio" value="3"   name="review[rating]" /> I’m up to date on the latest innovations and technology advancements but I’d prefer to do my research, and see how it fares in the market before I buy in. Perhaps have a chat to a couple of my friends who describe themselves as the first two types of people listed above and to see what they have to say.
      </label>
      <label class="input-check">
        <input onchange="change_state(this)" type="radio" value="4"   name="review[rating]" />  Innovation and new tech gadgets are great and all, but I would consider myself a bit of a skeptic towards the speed at which they are developed and introduced to the public. As long as what I currently have is working, I’m happy.
      </label>
      <label class="input-check">
        <input onchange="change_state(this)" type="radio" value="5"   name="review[rating]" />I don’t really have an interest in all the latest and greatest innovations. I don’t keep track of the latest phone released, or which tablet or laptop is the best investment. I’ve got everything I need, so why complicate it?
      </label>

        <form id="statementList" method="post" action="/statement">
            <input id="facebook_id" type="hidden" name='fb_id'>
            <input id="choice" type="hidden" name='statement'>
            <div id="submit" class="fixed-action-btn">
              <a class="btn-floating btn-large blue z-depth-2">
                <i class="material-icons">done</i>
               </a>
           </div>
        </form>
    </div>


<script>
window.extAsyncInit = function() {
  var check = MessengerExtensions.isInExtension();
  console.log(check)
  if (check === false) {
    $("#facebook_id").val(<%= id %>)
  } else {
    MessengerExtensions.getUserID(function success(uids) {
         var psid = uids.psid.toString();
         $("#facebook_id").val(psid)
       }, function error(err) {

       });
  }

};

$('#submit').click(function (evt) {
    $('form').submit();

    evt.preventDefault();
    // MessengerExtensions.requestCloseBrowser(function success() {
    //
    //   }, function error(err) {
    //
    //   });
    //   setTimeout(function() {
    //         window.close();
    //   }, 1000);
});

function change_state(obj) {
    if (obj.checked) {
        var checkedNodes = getElementsByClassName(document, "checked");
        for (var i=0;i<checkedNodes.length;i++) {
            checkedNodes[i].classList.remove("checked");
        }

        //if radiobutton is being checked, add a "checked" class
        obj.parentNode.classList.add("checked");
        $("#choice").val(obj.value)
    }
    else {
        //else remove it
        obj.parentNode.classList.remove("checked");
    }
}

function getElementsByClassName(node,classname) {
  if (node.getElementsByClassName) { // use native implementation if available
    return node.getElementsByClassName(classname);
  } else {
    return (function getElementsByClass(searchClass,node) {
        if ( node == null )
          node = document;
        var classElements = [],
            els = node.getElementsByTagName("*"),
            elsLen = els.length,
            pattern = new RegExp("(^|\\s)"+searchClass+"(\\s|$)"), i, j;

        for (i = 0, j = 0; i < elsLen; i++) {
          if ( pattern.test(els[i].className) ) {
              classElements[j] = els[i];
              j++;
          }
        }
        return classElements;
    })(classname, node);
  }
}
</script>

<script src="/js/materialize.js"></script>
</body>
